name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-nix:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: build
        shell: nix develop -c bash -e {0}
        run: ./buildAll.sh

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    env:
      PKG_CONFIG_PATH: C:/msys64/mingw64/lib/pkgconfig
    steps:
      - uses: actions/checkout@v4

      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            git
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-glib2
          path-type: inherit

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Setup PKG_CONFIG
        shell: msys2 {0}
        run: |
          echo "PKG_CONFIG=$(cygpath -m /mingw64/bin/pkg-config.exe)" >> $GITHUB_ENV

      - name: build
        run: ./buildAll.sh